
@font-face {
    font-family: "Montserrat";
    src: url("../../../fonts/starlight2021/Montserrat-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../../fonts/starlight2021/Montserrat-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../../fonts/starlight2021/Montserrat-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Royal";
    src: url("../../../fonts/starlight2021/MBF-Royal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-primary: #f5dcaf;
    --color-secondary: #40040b;
	--color-disabled: #5a5a5a;
}

body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.mm-menu {
    --mm-color-background: none;
    --mm-color-text: white;
    --mm-color-border: var(--color-primary);
    background-image: linear-gradient(
        to bottom,
        #1a0e10,
        #1a1116,
        #19151b,
        #18181e,
        #171b21
    );
}

.mm-menu .navBtn {
    display: inline-block;
    background: var(--color-secondary);
    border-radius: 20px;
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 10px rgb(245 220 175 / 70%);
    margin-top: 30px;
    margin-left: 20px;
    font-family: "Montserrat";
    padding-left: 2rem;
    padding-right: 2rem;
}

.mm-listitem:after {
    left: 0;
}

#page .mburger {
    color: var(--color-primary);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all 0.5s;
}

.navbar-toggler i {
    color: var(--color-primary);
}

.navbar.sticky {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item .nav-link {
    color: var(--color-primary);
    font-family: "Royal";
}

.nav-item .nav-link:hover {
    color: var(--color-primary);
    text-shadow: 0 0 10px rgba(245, 220, 175, 1);
}

#page .nav-link.navBtn {
    background: var(--color-secondary);
    border-radius: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid var(--color-primary);
    margin-right: 0;
    color: var(--color-primary);
    box-shadow: 0 0 10px rgba(245, 220, 175, 0.7);
}

.nav-item .nav-link {
    margin-right: 3rem;
}

.logo {
    max-width: 70px;
}

.logo img {
    width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
}
.main {
    background-image: url("../../../images/starlight2021/isthara/bg.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainContent {
    max-width:800px;
    width:100%;
}

/* modal pdf */
.isthara-regulation {
    height: 30rem;
    width: 100%; 
    border: 1rem solid rgba(0,0,0,.1);
}

.modal-dialog {
    max-width: 750px;
}

.disabledBtn {
    background-color: var(--color-disabled);
    pointer-events: none;
}

.cardContainer {
    min-height: 400px;
    background-image: url("../../../images/starlight2021/isthara/card-bg.png");
    border-radius:30px;
    width:100%;
    background-size:cover;
    background-position: center;
}

.cardInnerLogo {
    max-width:200px;
}

.cardContainer .title {
    color: var(--color-primary);
    text-align: center;
}

.cardContainer .registerBtn {
    color:var(--color-primary) !important;
    border: 3px solid var(--color-primary);
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.2s;
}

.registerBtn:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary) !important;
}

.footer {
    background-image: linear-gradient(
        to bottom,
        #14141a,
        #111116,
        #0d0d11,
        #08080b,
        #030304
    );
    color: var(--color-primary);
    padding-top: 75px;
    padding-bottom: 75px;
}

.footer .logo {
    max-width: 150px;
}

.footerLinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.footerLinks .footerLink {
    flex: 0 0 50%;
    margin-bottom: 15px;
}

.footerLinks .footerLink a {
    color: var(--color-primary);
}

.socialLinks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.socialLinks a:not(:last-child) {
    margin-right: 10px;
}

.logoGroup {
    display: flex;
    flex-wrap: wrap;
}

.logoGroup .logoGroup-logo {
    max-width: 70px;
}

.logoGroup .logoGroup-logo img {
    width: 100%;
}

.logoGroup .logoGroup-logo:first-child {
    margin-right: 30px;
}

@media (max-width: 996px) and (min-width: 768px) {
    .navbar .nav-link {
        margin-right: 1rem;
    }

    .navbar .container {
        max-width: 820px;
    }
}


@media (max-width: 767px) {
    .mainText {
        text-align: center;
        font-size: 1.3rem;
    }

    .footer .logo {
        margin: auto;
    }

    .footerLinks .footerLink {
        flex: 0 0 100%;
        text-align: center;
    }

    .socialLinks {
        justify-content: center;
    }

    .footer .address {
        text-align: center;

        padding-left: 3rem;
        padding-right: 3rem;
    }

    .footer .col-inner {
        margin-bottom: 50px;
    }

    .logoGroup {
        justify-content: center;
    }
}





