@font-face {
font-family: "Montserrat";
src: url("../../../fonts/starlight2021/Montserrat-Regular.ttf")
    format("truetype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Montserrat";
src: url("../../../fonts/starlight2021/Montserrat-SemiBold.ttf")
    format("truetype");
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: "Montserrat";
src: url("../../../fonts/starlight2021/Montserrat-Bold.ttf")
    format("truetype");
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: "Royal";
src: url("../../../fonts/starlight2021/MBF-Royal.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}

html{
overflow-x: hidden!important;

}

:root {
--color-primary: #f5dcaf;
--color-secondary: #40040b;
--color-disabled: #5a5a5a;
}

body {
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
/* background-image: linear-gradient(
    to right, 
    #ffffff,
    #ffffff 70%,
    #101434 30%

  ); */
background-repeat: no-repeat;
background-size: cover;
overflow-x: hidden;
background-image: url("../../../images/starlight2021/judge/background4.png");

}

.mm-menu {
--mm-color-background: none;
--mm-color-text: white;
--mm-color-border: var(--color-primary);
background-image: linear-gradient(
    to bottom,
    #1a0e10,
    #1a1116,
    #19151b,
    #18181e,
    #171b21
);
}

.mm-menu .navBtn {
display: inline-block;
background: var(--color-secondary);
border-radius: 20px;
border: 1px solid var(--color-primary);
box-shadow: 0 0 10px rgb(245 220 175 / 70%);
margin-top: 30px;
margin-left: 20px;
font-family: "Montserrat";
padding-left: 2rem;
padding-right: 2rem;
}

.mm-listitem:after {
left: 0;
}

#page .mburger {
color: var(--color-primary);
}

.main {
min-height: 100vh;
min-width: 100vw;

background-size: cover;
}

.mainText {
display: inline-block;
color: var(--color-primary);

text-shadow: 0 0 10px rgba(245, 220, 175, 0.7), 0 8px 8px rgba(0, 0, 0);
}

.semi-bold {
font-weight: 600;
}

.navbar {
background-color: rgba(0, 0, 0, 0.5);
padding-top: 30px;
padding-bottom: 30px;
transition: all 0.5s;
}

.navbar-toggler i {
color: var(--color-primary);
}

.navbar.sticky {
background-color: rgba(0, 0, 0, 1);
padding-top: 15px;
padding-bottom: 15px;
}

.nav-item .nav-link {
color: var(--color-primary);
font-family: "Royal";
}

.nav-item .nav-link:hover {
color: var(--color-primary);
text-shadow: 0 0 10px rgba(245, 220, 175, 1);
}

#page .nav-link.navBtn {
background: var(--color-secondary);
border-radius: 50px;
padding-left: 2rem;
padding-right: 2rem;
border: 2px solid var(--color-primary);
margin-right: 0;
color: var(--color-primary);
box-shadow: 0 0 10px rgba(245, 220, 175, 0.7);
}

.nav-item .nav-link {
margin-right: 3rem;
}

.logo {
max-width: 70px;
}

.logo img {
width: 100%;
}

#page .main .nav-link {
color: var(--color-primary) !important;
}

.header {
color: var(--color-primary);
}

.content {
padding-top: 200px;
padding-bottom: 75px;
}

/* judge section */

.section-1{
    align-items: center;
    min-height: 100vh;
    display: flex;
    
}

.section-1 .row{
    justify-content: space-between;
    width: 100%;
}

.section-1 h2{
    font-size: 44px;
    font-weight: 800;
    color: var(--color-primary);

}

.section-1 h4{
    color: var(--color-primary);

}

.section-1 img{
    padding: 0;
    height: fit-content;
}

.section-1 .blue-box{
    overflow: hidden;
    background-color: #101c2c;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 50%;
    z-index: -1;
    transform: scaleY(3);
}

.section-1 .blue-box img{
    position: absolute;
    left: 17%;
    bottom: -95%;
    transform: scaleX(-1);
}

.section-1 input[type="text"]{
    background-color: #40444c;
    text-align: center;
    padding: 20px;
    border-radius: 35px;
    width: 50%;
    color: var(--color-primary);
    outline: none;
    border: var(--color-primary) 3pt solid;
    text-transform: uppercase;
    box-shadow: -2px 1px 37px 3px var(--color-primary);
    font-weight: 800;
}

.section-1 input[type="text"]:focus{
    outline: none;
    
}

.footer{
    display: none!important;
}
/* end */

.footer {
background-image: linear-gradient(
    to bottom,
    #14141a,
    #111116,
    #0d0d11,
    #08080b,
    #030304
);
color: var(--color-primary);
padding-top: 75px;
padding-bottom: 75px;
}

.footer .logo {
max-width: 150px;
}

.footerLinks {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
flex-wrap: wrap;
}

.footerLinks .footerLink {
flex: 0 0 50%;
margin-bottom: 15px;
}

.footerLinks .footerLink a {
color: var(--color-primary);
}

.socialLinks {
display: flex;
align-items: center;
flex-wrap: wrap;
margin-top: 30px;
}

.socialLinks a:not(:last-child) {
margin-right: 10px;
}

.logoGroup {
display: flex;
flex-wrap: wrap;
}

.logoGroup .logoGroup-logo {
max-width: 70px;
}

.logoGroup .logoGroup-logo img {
width: 100%;
}

.logoGroup .logoGroup-logo:first-child {
margin-right: 30px;
}



@media (max-width: 996px) and (min-width: 768px) {
.navbar .nav-link {
    margin-right: 1rem;
}

.navbar .container {
    max-width: 820px;
}
}

@media (max-width: 996px) {
#verticalTab .nav,
#verticalTab2 .nav,
#verticalTab3 .nav {
    flex: 0 0 40%;
}

#smarttab .nav {
    width: 40%;
}
}

@media (max-width: 992px){
    .section-1 .blue-box{
        background-color: #101434;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: -1;
        transform: scalex(5);
        bottom: 50%;
    }
}

@media (max-width: 767px) {
#msform fieldset .col-8,
#msform fieldset .ms-form-container {
    min-height: 100%;

    padding-bottom: 40px;
}

.mainText {
    text-align: center;
    font-size: 1.3rem;
}

.displayOnMobile {
    display: block;
}

.hideOnMobile {
    display: none;
}

.footer .logo {
    margin: auto;
}

.footerLinks .footerLink {
    flex: 0 0 100%;
    text-align: center;
}

.socialLinks {
    justify-content: center;
}

.footer .address {
    text-align: center;

    padding-left: 3rem;
    padding-right: 3rem;
}

.footer .col-inner {
    margin-bottom: 50px;
}

.logoGroup {
    justify-content: center;
}
}

@media (max-width: 389px){
#msform fieldset {
    padding: 20px 40px 20px 40px;
    background-position: 20% 50%;
}
#progressbar li{
    padding-left: 20px;
    padding-right: 20px;
}
}

@media (max-width: 334px){
#msform fieldset {
    padding: 20px 50px 20px 50px;
    background-position: 20% 50%;
}
}